body {
  /*padding: 0px;*/
  margin: 0px;
  font-family: "Bree Serif", serif;
}
p {
  font-family: "Poppins", sans-serif;
}
/*Hero Page*/
#home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#home::before {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../Images/hero.jpg);
  background-attachment: fixed;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.main-h {
  font-family: "Bree Serif", serif;
  font-size: 3rem;
}

.main-p {
  font-family: "Bree Serif", serif;
  padding: 8px;
  text-align: center;
  max-width: 80vw;
}

/*Services*/
#services-container{
  height:100vh;
}
#services-container h1 {
  margin: auto;
}

#Services {
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  height: auto;
  margin-bottom: 5rem;
}
.box {
  width: 320px;
  height: auto;
  padding: 40px 30px;
  background: #f6f5f5;
  border-radius: 40px;
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),
    6px 6px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.box:hover {
  box-shadow: inset -6px -6px 20px rgba(255, 255, 255, 0.5),
    inset 6px 6px 20px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width:750px){
  #services-container{
    height:auto;
  }
  
}


/*Contact me*/

#contact-me {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 30px 0;
  background: #1c1c1a;
  overflow: hidden;
  background-image: url(../Images/sponsor-bg.png);
  animation: bg 30s linear infinite;
  justify-content: flex-start;
  align-items: center;
}
@keyframes bg {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 500px 0;
  }
}
#contact-me h1{
  display: block;
  color: white;

}